@font-face {
    font-family: 'flexslider-icon';
    src: url('fonts/flexslider-icon.eot');
    src: url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('fonts/flexslider-icon.woff') format('woff'), url('fonts/flexslider-icon.ttf') format('truetype'), url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  * {
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
  }
  
  body {
    /*background-image: url("/img/Fondomine.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;*/
    background-color: white;
  }
  
  /* TEXTOS */
  h1 {
    color: rgb(0, 0, 0);
    font-size: 300%;
  }
  .titulo1 {
    /* background:  rgb(51, 164, 134) ;*/
    background-image: url("/img/ACLAND.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   color: white;
    text-shadow: rgb(0, 0, 0) 2px 3px 3px ;
  }
  .titulo2 {
    /* background:  rgb(51, 164, 134) ;*/
    background-image: url("/img/ZOMBIE1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   color: rgb(182, 17, 17);
    text-shadow: rgb(0, 0, 0) 4px 4px 3px ;
  }
  .titulo3 {
    /* background:  rgb(51, 164, 134) ;*/
    background-image: url("/img/MEDIEVAL1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   color: rgb(217, 191, 44);
    text-shadow: rgb(0, 0, 0) 4px 4px 3px ;
  }
  .titulo4 {
    /* background:  rgb(51, 164, 134) ;*/
    background-image: url("/img/NEWAVEN1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   color: rgb(74, 208, 51);
    text-shadow: rgb(0, 0, 0) 4px 4px 3px ;
  }
  .titulo5 {
    /* background:  rgb(51, 164, 134) ;*/
    background-image: url("/img/MCEXTREME.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   color: rgb(151, 5, 5);
    text-shadow: rgb(0, 0, 0) 4px 4px 3px ;
  }
  .titulo0{
    background-image: url("/img/NEWAVENTURE.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   color: rgb(105, 5, 151);
    text-shadow: rgb(0, 0, 0) 4px 4px 3px ;
  }
  h2 {
    font-size: 20px;
    text-align: left;
    padding: 10px;
    margin-left: 20px;
    display: flex;
    margin-top: 15px;
  }
  
  h3 {
    font-size: 27px;
    text-align: center;
  }
  
  .a2{
    text-decoration: none;
    color: #000000;
  }
  a {
    text-decoration: none;
    color: white;
  }
  
  a:hover {
    color: rgb(9, 155, 4);
  }
  
  /* IMAGEN Y PARRAFOS */
  
  .caja1 {
    margin: 40px;
    background-color: rgb(255, 255, 255);
    z-index: 999;
     }

.imagen{
float: right;
width: 40%;
height: auto;
padding: 30px;
}

  .caja2,
  .caja3
   {
    padding-left: 30px;
    margin: 20px;
    background-color: rgb(255, 255, 255);
    width: 95%;
    height: auto;
    margin-top: 30px;
  }
  .caja4{
    padding-left: 30px;
    margin: 20px;
    background-color: rgb(255, 255, 255);
    width: 95%;
    height: auto;
    margin-top: 30px;
  }
 
  .btn1 {
    border: none;
    background: #000000;
    padding: 10px 15px;
    border-radius: 30px;
    float: left;
    margin-left: 100px;
  }
  
  .btn1:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  
  .btn2 {
    border: none;
    background: #238f02;
    padding: 10px 15px;
    border-radius: 30px;
    float: center;
    
  }
  .btn2:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
.enlace1:hover{
  color: rgb(0, 0, 0);
}

  /* MENU */
  .hero {
    height: 18vh;
    width: 100%;
    background-color: black;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 9px;
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
    z-index: 9999;
  }
  
  .enlace {
    position: absolute;
  }
  
  .checkbtn {
    font-size: 30px;
    color: white;
    padding-right: -20%;
    line-height: 80px;
    margin-right: -20px;
    cursor: pointer;
    display: none;
  }
  
  #check {
    display: none;
  }
  
  .logo {
    color: white;
    font-size: 48px;
    padding: 4px;
    margin-top: -20px;
  }
  
  span {
    color: rgb(9, 155, 4);
  }
  
  nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 40px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 23px;
  }
  
  nav ul li a:hover {
    color: rgb(9, 155, 4);
    transition: .3s;
  }
.logo_icon{
  width: 90px;
  float: inline-start;
padding-left: 70px;
}

/* Estilo del submenu */
.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #272727;
  list-style: none;
  padding: 0;
  text-align: center;
}

.submenu li a {
  padding: 10px 20px;
  white-space: nowrap;
}

ul li:hover .submenu {
  display: block;
}

    
  /* CELULAR */
  @media (max-width: 668px) {
    .checkbtn {
      display: block;
    }
  
    .flex-control-nav {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: black;
      top: 80px;
      left: -50%;
      text-align: center;
      transition: all .5s;
    }
  
    ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: black;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
  
    nav ul li {
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
  
    nav ul li a {
      font-size: 20px;
    }
  
    li a:hover,
    li a.active {
      background: none;
      color: aqua;
    }
  
    #check:checked~ul {
      left: 0;
    }
  }
  

  @media (max-width: 668px) {
    .slider {
      display: none;
    }
    .caja1,
  .caja2,
  .caja3,
  .caja4 {
    text-align: center;
    margin: 1px;
    padding: 5px;
     }
  .container-footer{
    display: inline-block;
  }
  h2{
    font-size: 25px;
  }
  .imagen{
    display: inline-block;
    width: 50%;
    float: none;
  }
  }
  
  
  /* CURSOR */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgb(9, 155, 4);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  
  /* FOOTER - PIE DE PAGINA */
  
  footer {
    background-color: #000000;
    padding: 20px 0;
    text-align: center;
    margin-top: 500px;
  }
  
  .redes-sociales {
    margin-bottom: 10px;
  }
  
  .redes-sociales a {
    color: #555; /* Color de los íconos */
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s ease;
  }
  
  /*.redes-sociales a:hover {
    color: #007bff;  Color al pasar el mouse sobre los íconos 
  }*/

  .fa-discord:hover{
color: rgb(88, 57, 245);
  }
  .fa-tiktok:hover{
    border-radius: 100%;
    background: linear-gradient(to top right, #2ef2d8, #2ef2d8, #e02835, #000000, #000000, #000000);
    color: #ffffff;
      }

      .fa-youtube:hover{
        color: rgb(231, 10, 10);
          }
          .fa-instagram:hover{
            border-radius: 40%;
            background: linear-gradient(to top right, #FCDE30, #E9712A, #D2313B, #AE4198, #7540A1, #5443A8);
            color: #000000;           
             }
              .fa-whatsapp:hover{
                color: rgb(40, 172, 20);
                  }
  h4 {
    margin-top: 10px;
    color: #888; /* Color del texto de derechos reservados */
    font-size: 14px;
 

  }
  .container {
    overflow: hidden;
    font-size: 20px;
    text-align: left;

}

.container p{
    font-size: 20px;
    padding: 50px;
     text-align: left;
}
.container img{
    width: 38%;
    border-radius: 100%;
    float: left;
    margin: 50px;
}
.fa-address-book{
 font-size: 200px;
 float: left;
 margin-left: 250px;
 margin: 50px;

}
.container-footer2{
  margin-top: -400px;
}
  
  .section1{
    margin: 100px;
    padding: 0px;
margin-block-end: -300px;
  }

  